In [1]:
from scipy.stats import zscore, norm
import pandas as pd
import numpy as np


df = pd.DataFrame(np.array([[1,40],
                            [3,41],
                            [5,42],
                            [7,43],
                            [9,100]]))
df = zscore(df)
df

          0         1
0 -1.414214 -0.563588
1 -0.707107 -0.520892
2  0.000000 -0.478196
3  0.707107 -0.435500
4  1.414214  1.998176

In [2]:
alphabet_size = 3
alphabet = np.array([chr(letter) for letter in range(ord('a'), ord('a') + alphabet_size)])
alphabet

array(['a', 'b', 'c'], dtype='<U1')

In [3]:
breakpoints = norm.ppf(np.linspace(0, 1, alphabet_size+1)[1:-1])
breakpoints

array([-0.4307273,  0.4307273])

In [4]:
pd.DataFrame(alphabet[np.searchsorted(breakpoints, df, side='left')], index=df.index, columns=df.columns)

   0  1
0  a  a
1  a  a
2  b  a
3  c  a
4  c  c

In [5]:
np.searchsorted(np.array([-0.43,0.43]), -0.43, side="right")

1