In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
df_symbolic = pd.DataFrame([[0, 1], [2, 0], [1, 0], [1, 0], [0, 1], [1, 0], [1, 0], [2, 0], [1, 1], [1, 0]])
df_symbolic

   0  1
0  0  1
1  2  0
2  1  0
3  1  0
4  0  1
5  1  0
6  1  0
7  2  0
8  1  1
9  1  0

In [3]:
df_absolute = df_symbolic.apply(lambda ts: ts.value_counts().sort_index())
df_absolute

   0    1
0  2  7.0
1  6  3.0
2  2  NaN

In [4]:
df_marginal = df_absolute / df_symbolic.shape[0]
df_marginal

     0    1
0  0.2  0.7
1  0.6  0.3
2  0.2  NaN

In [5]:
from discretization.persist.markov_chain_max_likelihood import _compute_markov_chain_max_likelihood

df_marginal, transitions = _compute_markov_chain_max_likelihood(df_symbolic, 3)
df_marginal

     0    1
0  0.2  0.7
1  0.6  0.3
2  0.2  0.0

In [6]:
transitions[0]

to      0    1    2
from
0     0.0  0.5  0.5
1     0.2  0.6  0.2
2     0.0  1.0  0.0

In [7]:
self_transitions = [pd.DataFrame(np.diag(transition)) for transition in transitions]
self_transitions[0]

     0
0  0.0
1  0.6
2  0.0

In [8]:
self_transitions[1]

          0
0  0.666667
1  0.000000
2  0.000000

In [9]:
df_marginal_complement = 1 - df_marginal
df_marginal_complement

     0    1
0  0.8  0.3
1  0.4  0.7
2  0.8  1.0

In [10]:
self_transitions_complement = [1 - self_transition for self_transition in self_transitions]
self_transitions_complement[0]

     0
0  1.0
1  0.4
2  1.0

In [11]:
self_transitions_complement[1]

          0
0  0.333333
1  1.000000
2  1.000000