In [1]:
import pandas as pd

df = pd.read_csv("../../../../0_data/persist_algorithm/muscle_activation.dat", sep="\t", header=None)
df.columns = ["Index", "Value"]
df = df.iloc[:, 1].to_frame()
df

          Value
0     -22.52172
1     -22.85125
2     -22.45270
3     -21.65544
4     -21.05833
...         ...
29895 -12.29723
29896 -12.10932
29897 -12.05836
29898 -12.01540
29899 -11.91373

[29900 rows x 1 columns]

In [2]:
from discretization.persist.persist import do_persist


bins, best_pscores = do_persist(df, 2, 15, 4)

In [3]:
bins

[[-18.267736, -11.625919399999999, -9.5192848]]

In [4]:
best_pscores

           0
2   0.596407
3   0.749566
4   0.750265
5   0.745130
6   0.721878
7   0.699992
8   0.680971
9   0.665875
10  0.640557
11  0.609055
12  0.582376
13  0.558016
14  0.528654
15  0.499182