In [1]:
import numpy as np
import pandas as pd
from discretization.sax.sax import SAX

In [2]:
alphabet = np.array(['a','b','c','d'])
df_sax = pd.DataFrame(np.array([['a','b','c', 'd'],
                                ['a','c','c', 'd'],
                                ['a','b','c', 'd']]), columns=['s', 's', 's', 's'])
df_sax

   s  s  s  s
0  a  b  c  d
1  a  c  c  d
2  a  b  c  d

In [3]:
sax = SAX(alphabet_size=4)
random_ts_size = 128
result_matrix = sax.distance(df_sax, random_ts_size)
result_matrix

           s         s        s          s
s   0.000000  4.405749  7.63098  15.261961
s   4.405749  0.000000  0.00000   6.230669
s   7.630980  0.000000  0.00000   0.000000
s  15.261961  6.230669  0.00000   0.000000