In [1]:
from discretization.sax.sax import SAX
from discretization.sax.symbol_mapping import MeanValuePoints
from approximation.paa import PAA
from utils import z_normalize

In [2]:
import pandas as pd
import numpy as np


df_ts = pd.DataFrame(np.array([[1,2,3],
                               [10,3,-9],
                               [100,4,-4],
                               [150,6,12]]))

df_ts

     0  1   2
0    1  2   3
1   10  3  -9
2  100  4  -4
3  150  6  12

In [3]:
df_norm = z_normalize(df_ts)
sax = SAX(alphabet_size=2)
mean = MeanValuePoints(df_norm)

In [4]:
sax.breakpoints

array([0.])

In [5]:
paa = PAA(window_size=2)

In [6]:
df_paa = paa.transform(df_norm)

In [7]:
df_sax = sax.transform(df_paa)
df_sax

   0  1  2
0  a  a  a
1  b  b  b

In [8]:
df_norm

          0         1         2
0 -1.029789 -1.183216  0.316862
1 -0.885539 -0.507093 -1.204076
2  0.556968  0.169031 -0.570352
3  1.358360  1.521278  1.457566

In [9]:
df_mapped = mean.get_mapped(df_sax, sax.alphabet, sax.breakpoints)
df_mapped

          0         1         2
0 -0.957664 -0.845154 -0.887214
1  0.957664  0.845154  0.887214